<header class="site-header">
  <div class="container header-inner">
    
    <a class="brand" href="{{ '/' | relative_url }}">
      <img
        class="brand-logo"
        src="{{ '/assets/images/devijfeikenbomen-logo-horiz.png' | relative_url }}"
        alt="De Vijf Eikenbomen">
    </a>

    <nav class="site-nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/over/' | relative_url }}">Over</a></li>
        <li><a href="{{ '/agenda/' | relative_url }}">Agenda</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
      </ul>
    </nav>

  </div>
</header>
