<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description | escape }}" />
  <meta name="robots" content="index,follow" />

  <!-- Favicon -->
  <link rel="icon" href="/assets/favicon/favicon.ico" sizes="any">
  <link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description | escape }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.devijfeikenbomen.nl/" />
  <meta property="og:image" content="https://www.devijfeikenbomen.nl/assets/img/og-image.jpg" />

  <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
  {{ content }}
</body>
</html>
